App_WebReferences/localhost/AlbumReviews.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="album_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResultResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetResultSoapIn">
    <wsdl:part name="parameters" element="tns:GetResult" />
  </wsdl:message>
  <wsdl:message name="GetResultSoapOut">
    <wsdl:part name="parameters" element="tns:GetResultResponse" />
  </wsdl:message>
  <wsdl:portType name="AlbumReviewsSoap">
    <wsdl:operation name="GetResult">
      <wsdl:input message="tns:GetResultSoapIn" />
      <wsdl:output message="tns:GetResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlbumReviewsSoap" type="tns:AlbumReviewsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResult">
      <soap:operation soapAction="http://tempuri.org/GetResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AlbumReviewsSoap12" type="tns:AlbumReviewsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResult">
      <soap12:operation soapAction="http://tempuri.org/GetResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AlbumReviews">
    <wsdl:port name="AlbumReviewsSoap" binding="tns:AlbumReviewsSoap">
      <soap:address location="http://localhost:1374/MUISCMANIA/AlbumReviews.asmx" />
    </wsdl:port>
    <wsdl:port name="AlbumReviewsSoap12" binding="tns:AlbumReviewsSoap12">
      <soap12:address location="http://localhost:1374/MUISCMANIA/AlbumReviews.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>